/*---------------------Nav Bar---------------------*/
.right {
    padding-top: 6px;
}
.brand-logo {
    padding-top: 6px;
    margin-left: 10px;
}
.card-resize {
    width: 38%;
}

/*-----------------Body----------------------*/
.centerDiv {
    margin: 3%;
}

.pageHeading {
    position: fixed;
    left: 38%;
    padding: 2%;
    
}

body {
    background-image: url('../images/foodBackground.png');
}

.recipe-measurements {
    float: right;
    display: inline;
    width: 50%;
    
}

.recipe-ingredients {
    display: inline;
    width: 50%;
}