/*---------------------Nav Bar---------------------*/

.right {
	padding-top: 6px;
}
.brand-logo {
	padding-top: 6px;
	margin-left: 10px;
}


/*-----------------Body----------------------*/

.pageHeading {
    position: fixed;
    left: 38%;
    padding: 2%;
    
}

body {
	background-image: url('../images/foodBackground.png');
}

#randomDiv {
    padding-top: 2%;
}

.drinkRecipeInstructions {
    float: left;
}

.recipe-measurements {
    float: right;
    display: inline;
    width: 50%;
}

.recipe-ingredients {
    float: left;
    display: inline;
    width: 50%;
}

.lettuce {
	width: 200px;
}
.couple-cooking {
	width: 200px;
}
.berries {
	width: 200px;
}

